[submodule "assets/hunter"]
	path = assets/hunter
	url = git@github.com:zhuhengtan/cc-hunter.git
[submodule "assets/hunter-ui"]
	path = assets/hunter-ui
	url = git@github.com:zhuhengtan/cc-hunter-ui.git
[submodule "assets/dialogue-system"]
	path = assets/dialogue-system
	url = git@github.com:zhuhengtan/cc-dialogue-system.git
