[submodule "assets/cc-hunter"]
	path = assets/cc-hunter
	url = git@github.com:zhuhengtan/cc-hunter.git
[submodule "assets/cc-hunter-ui"]
	path = assets/cc-hunter-ui
	url = git@github.com:zhuhengtan/cc-hunter-ui.git
